In [ ]:
from google.colab import drive  # 구글 코랩에서 drive(내 구글 드라이브)를 사용하기 위한 함수
import io
drive.mount('/content/drive')  # 이렇게 하면 내 drive가 설정? 잡힌다.

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 340kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.16.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1670911 sha256=b2b635063ae2ec83694872a8c07555616ff1aa367fc190b85a1e42ee01d851ac
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import pandas as pd # pandas 불러오기
import numpy as np # numpy 불러오기
import math # 불러오기 수학과 관련된 함수들
import re #정규표현식 함수 .맞는지 틀린지
from scipy.sparse import csr_matrix   # 매트릭스 해주는거.
import matplotlib.pyplot as plt # 시각화 함수
import seaborn as sns # 시각화 함수
from surprise import Reader, Dataset, SVD, NormalPredictor, KNNBasic
from surprise import KNNWithMeans, KNNWithZScore, KNNBaseline
from surprise import BaselineOnly, SVDpp,NMF, SlopeOne, CoClustering #분석툴
from surprise.accuracy import rmse
from surprise import accuracy
from surprise.model_selection import cross_validate, KFold, train_test_split
import json
import mpmath
from scipy.special import logsumexp

from google.colab import drive

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
ratings = pd.read_csv('../content/drive/My Drive/data/the-movies-dataset/ratings_small.csv',low_memory=False)
ratings = ratings[['userId', 'movieId', 'rating']]
ratings.head()
ratings.movieId = pd.to_numeric(ratings.movieId, errors='coerce')
ratings.userId = pd.to_numeric(ratings.userId, errors='coerce')
ratings.rating = pd.to_numeric(ratings.rating, errors='coerce')
len(ratings)
df = ratings
print(df)

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [ ]:
p = df.groupby('rating')['rating'].agg(['count'])
movie_count = df['movieId'].nunique()
cust_count = df['userId'].nunique()
rating_count = df['userId'].count()
df = df[pd.notnull(df['rating'])]

In [ ]:
f = ['count','mean']
df_movie_summary = df.groupby('movieId')['rating'].agg(f)
df_movie_summary.index = df_movie_summary.index.map(int) # map 함수 쓰면 한번에 형변환 처리 가능 , 스트나 튜플을 지정함수로 처리해주는 역할
movie_benchmark = round(df_movie_summary['count'].quantile(0.7),0)  #quantile 사분위수
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index
print('Movie minimum times of review: {}'.format(movie_benchmark))

Movie minimum times of review: 7.0

In [ ]:
df_cust_summary = df.groupby('userId')['rating'].agg(f)
df_cust_summary.index = df_cust_summary.index.map(int)
cust_benchmark = round(df_cust_summary['count'].quantile(0.7),0)
drop_cust_list = df_cust_summary[df_cust_summary['count'] < cust_benchmark].index
print('Customer minimum times of review: {}'.format(cust_benchmark))

Customer minimum times of review: 138.0

In [ ]:
print('Original Shape: {}'.format(df.shape))
df = df[~df['movieId'].isin(drop_movie_list)] # df의 'Movie_Id'에서 drop_movie_list의 값이 있으면 True
print('df not isin dropmovie', df)
df = df[~df['userId'].isin(drop_cust_list)]
print('df not isin dropcust', df)
print('After Trim Shape: {}'.format(df.shape))
print('-Data Examples-')
print(df.iloc[::5000000, :])

Original Shape: (100004, 3)
df not isin dropmovie         userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99998      671     6212     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[86257 rows x 3 columns]
df not isin dropcust        userId  movieId  rating
147         4       10     4.0
148         4       34     5.0
149         4      112     5.0
150         4      141     5.0
151         4      153     4.0
...       ...      ...     ...
99686     665     5479     2.0
99688     665     5502     4.0
99689     665     5679     3.0
99690     665     5952     5.0
99691     665     5991     4.0

[61805 rows x 3 columns]
After Trim Shape: (61805, 3)
-Data Examples-
     userId  movieId  rating
147       4       10     4.0

In [ ]:
df_p = pd.pivot_table(df,values='rating',index='userId',columns='movieId')
print(df_p)

movieId  1       2       3       4       ...  139644  142488  148626  152081
userId                                   ...
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
15          2.0     2.0     NaN     NaN  ...     3.0     3.5     3.5     3.0
17          NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
19          3.0     3.0     3.0     3.0  ...     NaN     NaN     NaN     NaN
21          NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
652         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
654         5.0     3.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
659         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
664         3.5     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
665         NaN     3.0     3.0     NaN  ...     NaN     NaN     NaN     NaN

[202 rows x 2794 columns]

In [ ]:
meta = pd.read_csv('../content/drive/My Drive/data/the-movies-dataset/movies_metadata.csv',low_memory=False)

In [ ]:
meta.head(10)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0
5  False  ...     1886.0
6  False  ...      141.0
7  False  ...       45.0
8  False  ...      174.0
9  False  ...     1194.0

[10 rows x 24 columns]

In [ ]:
meta = meta[['id', 'original_title', 'genres','release_date','popularity','original_language']]
meta = meta.rename(columns={'id':'movieId'})
meta.movieId = pd.to_numeric(meta.movieId, errors='coerce')
meta.popularity = pd.to_numeric(meta.popularity, errors='coerce')   # popularity를 문자열에서 숫자형으로 변환!

meta.head()

   movieId               original_title  ... popularity original_language
0    862.0                    Toy Story  ...  21.946943                en
1   8844.0                      Jumanji  ...  17.015539                en
2  15602.0             Grumpier Old Men  ...  11.712900                en
3  31357.0            Waiting to Exhale  ...   3.859495                en
4  11862.0  Father of the Bride Part II  ...   8.387519                en

[5 rows x 6 columns]

In [ ]:
reader = Reader()
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
svd = SVD()
cross_validate(svd, data, cv=5 , measures=['RMSE', 'MAE']) #evaluate 대신 cross_validate사용
# cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

{'fit_time': (3.077868938446045,
  3.066119432449341,
  3.1023316383361816,
  3.1070029735565186,
  3.1060357093811035),
 'test_mae': array([0.66344649, 0.66694699, 0.66097618, 0.6729848 , 0.67496686]),
 'test_rmse': array([0.86275001, 0.86803381, 0.86238156, 0.8729458 , 0.87417363]),
 'test_time': (0.09153914451599121,
  0.08650374412536621,
  0.1507730484008789,
  0.08809685707092285,
  0.09121561050415039)}

In [ ]:
def userRec(data,usernumber,rating,moviedata,dropdata,reader,svd):
    df = data
    df_user = df[(df['userId'] == usernumber) & (df['rating'] == rating)]
    df_user = df_user.set_index('movieId')
    df_user = df_user.join(moviedata)['original_title']
    print(df_user)
    user_df = moviedata.copy()
    user_df = user_df[~user_df['movieId'].isin(dropdata)]
    data1 = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
    trainset = data1.build_full_trainset()
    svd.fit(trainset)
    user_df['Estimate_Score'] = user_df['movieId'].apply(lambda x: svd.predict(usernumber, x).est)
    user_df = user_df.drop('movieId', axis = 1)
    user_df = user_df.sort_values('Estimate_Score', ascending=False)
    print(user_df.head(10))
userRec(df,665,5,meta,drop_movie_list,reader,svd)

movieId
168                                       Jeffrey
317                             Fresa y chocolate
318                          Swimming with Sharks
364            Mrs. Parker and the Vicious Circle
527                                    Serial Mom
587               Snow White and the Seven Dwarfs
595                         A Great Day in Harlem
596                                  Bye Bye Love
597                                  One Fine Day
912                       The Reluctant Debutante
1073       Children of the Corn IV: The Gathering
1097                            Manon des Sources
1101                                Hustler White
1136                   La double vie de Véronique
1270                            I'm Not Rappaport
1704                                  Wild Things
1754                                   Species II
2081                    Why Do Fools Fall In Love
2087                                    Knock Off
2125                                  Simon Birch
2139                              Men Don't Leave
2141                                         Hero
2571                               The Red Violin
2640                                 Light of Day
2797    The Mating Habits of the Earthbound Human
2918                               Mister Roberts
2959                                Irma la Douce
3034                             The Bat Whispers
3301                                 Animal House
3510                             Monsieur Verdoux
3578              The Brother from Another Planet
3916                   An Officer and a Gentleman
3988                      Good Morning, Babilonia
4023                             Saving Silverman
4025                           Le goût des autres
4270                                   Speed Zone
4306                            La decima vittima
4308                                    Obsession
4896                           Le Pacte des loups
4993                            Town Without Pity
5952                              Kiss Me Goodbye
Name: original_title, dtype: object
                 original_title  ... Estimate_Score
286          Once Were Warriors  ...       4.652372
534        Sleepless in Seattle  ...       4.602867
5295                5 Card Stud  ...       4.558408
4020   The Million Dollar Hotel  ...       4.553284
3058               Galaxy Quest  ...       4.530508
2648    The Thomas Crown Affair  ...       4.465798
2649    The Thomas Crown Affair  ...       4.432867
700                    Dead Man  ...       4.426153
11566             Lonely Hearts  ...       4.420149
7234           Dawn of the Dead  ...       4.402384

[10 rows x 6 columns]

In [ ]:
#여기까지 user추천이었습니다.
#아래부터는 영화제목 추천입니다.

In [ ]:
def parse_genres(genres_str):
    genres = json.loads(genres_str.replace('\'', '"'))
    
    genres_list = []
    for g in genres:
        genres_list.append(g['name'])

    return genres_list

meta['genres'] = meta['genres'].apply(parse_genres) #각 행에대해 함수를 적용하려면 apply를 써야 된다.

In [ ]:
data = pd.merge(ratings, meta, on='movieId', how='inner')
data.head()

   userId  movieId  rating  ... release_date popularity original_language
0       1     1371     2.5  ...   1982-05-28  11.673366                en
1       4     1371     4.0  ...   1982-05-28  11.673366                en
2       7     1371     3.0  ...   1982-05-28  11.673366                en
3      19     1371     4.0  ...   1982-05-28  11.673366                en
4      21     1371     3.0  ...   1982-05-28  11.673366                en

[5 rows x 8 columns]

In [ ]:
matrix = data.pivot_table(index='userId', columns='original_title', values='rating')
matrix.head(20)

original_title  !Women Art Revolution  'Gator Bait  ...  해안선   활
userId                                              ...
1                                 NaN          NaN  ...  NaN NaN
2                                 NaN          NaN  ...  NaN NaN
3                                 NaN          NaN  ...  NaN NaN
4                                 NaN          NaN  ...  NaN NaN
5                                 NaN          NaN  ...  NaN NaN
6                                 NaN          NaN  ...  NaN NaN
7                                 NaN          NaN  ...  NaN NaN
8                                 NaN          NaN  ...  NaN NaN
9                                 NaN          NaN  ...  NaN NaN
10                                NaN          NaN  ...  NaN NaN
11                                NaN          NaN  ...  NaN NaN
12                                NaN          NaN  ...  NaN NaN
13                                NaN          NaN  ...  NaN NaN
14                                NaN          NaN  ...  NaN NaN
15                                NaN          0.5  ...  NaN NaN
16                                NaN          NaN  ...  NaN NaN
17                                NaN          NaN  ...  NaN NaN
18                                NaN          NaN  ...  NaN NaN
19                                NaN          NaN  ...  NaN NaN
20                                NaN          NaN  ...  NaN NaN

[20 rows x 2798 columns]

In [ ]:
GENRE_WEIGHT = 0.1
def pearsonR(s1, s2):  # 피어슨 상관관계를 만드는 함수
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.exp(logsumexp(np.sum(s1_c * s2_c))) / np.exp(logsumexp(np.sqrt(np.sum(s1_c ** 2)))) * np.exp(logsumexp(np.sum(s2_c ** 2)))
    # 분자가 클수록 상관관계가 높다.
        # 유저가 넣은 영화 / 피벗테이블 /반환값 /장르별 가중치를 할지 선택
def recommend(input_movie, matrix, n, similar_genre=True):
    input_genres = meta[meta['original_title'] == input_movie]['genres'].iloc(0)[0]
    # 값을 넣은 movie와 meta가 같을 때  origin_title의 장르를 가져온다.
    result = []
    for title in matrix.columns:
        if title == input_movie: # 타이틀과 input_movie가 같으면 넘긴다.
            continue

        # rating comparison
        # 매트릭스의 컬럼이름으로 루프를 돈다. title은 그 제목이고
        # 여기서 매트릭스의 타이틀이름과 inputmovice 를 넣고 피어슨 상관관계를 본다.
        cor = pearsonR(matrix[input_movie], matrix[title]) #피어슨 선형관계
        #여기서 cor 값을 구하고 

        # genre comparison (장르별 가중치를 두는 작업)
        if similar_genre and len(input_genres) > 0: # 장르별 가중치가 있고 장르가 있을 경우
            #루프 돌고있는 matirx의 컬럼명 값이 영화 제목을 만나면 장르값을 저장한다.
            temp_genres = meta[meta['original_title'] == title]['genres'].iloc(0)[0]
            # np.sum으로 리스트에 있는 값들을 합친다?
            # 찾는 값이 있는지에 따라 true false를 반환한다. 왼쪽에 오른쪽 값이 있는지 확인한다.
            # 그에따라 true 개수를 세서 같은게 몇개있는지 분석한다.
            same_count = np.sum(np.isin(input_genres, temp_genres))

            #선형관계에서 나온 계수에 장르별 가중치를 더해준다.
            cor += (GENRE_WEIGHT * same_count)
        
        if np.isnan(cor): # 값이 없으면 넘기고
            continue
        else: #값이 있으면 result라는 리스트에 값을 넣는다.
            result.append((title, '{:.2f}'.format(cor), temp_genres))
    # 정렬해준다.
    result.sort(key=lambda r: r[1], reverse=True)

    return result[:n]

In [ ]:

recommend_result = recommend('The Dark Knight', matrix, 10, similar_genre=True)

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

                               Title  ...                                              Genre
0                          Mad Max 2  ...     [Adventure, Action, Thriller, Science Fiction]
1                        Guter Junge  ...                                            [Drama]
2                   Bonnie and Clyde  ...                                     [Crime, Drama]
3  Ghost Dog: The Way of the Samurai  ...                                     [Crime, Drama]
4                               纵横四海  ...                  [Action, Comedy, Thriller, Crime]
5                       Finding Nemo  ...                                [Animation, Family]
6                         Dreamgirls  ...                                            [Drama]
7              Breaking and Entering  ...                                   [Drama, Romance]
8                          Yesterday  ...                                            [Drama]
9                            Beowulf  ...  [Action, Science Fiction, Thriller, Adventure,...

[10 rows x 3 columns]

# 여기 까지가 기존 소스 아래부터는 변수 추가 부분과 알고리즘

In [ ]:
def user_release_ratio(df, usernumber):
    user_df =df[df['userId'] == usernumber]
    meta2 = pd.read_csv('../content/drive/My Drive/data/the-movies-dataset/movies_metadata.csv',low_memory=False)
    value_meta = meta2[['id','original_title','release_date', 'genres']]

    value_meta = value_meta.rename(columns={'id':'movieId'})
    value_meta.movieId = pd.to_numeric(value_meta.movieId, errors='coerce')
    value_meta = value_meta.dropna(axis=0)
    value_meta = value_meta.reset_index()
    merge_data = pd.merge(user_df, value_meta, on='movieId', how='left')
    merge_data = merge_data.dropna(axis=0)
    merge_data = merge_data.reset_index()

    release_date_list = {'1900':0,'1950':0,'1960':0,'1970':0,'1980':0,'1990':0,'2000':0,'2010':0,'2020':0}
    for i in range(0,len(merge_data)):
        if int(merge_data['release_date'].loc[i][0:4]) <= 1900:
            release_date_list["1900"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 1950:
            release_date_list["1950"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 1960:
            release_date_list["1960"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 1970:
            release_date_list["1970"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 1980:
            release_date_list["1980"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 1990:
            release_date_list["1990"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 2000:
            release_date_list["2000"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 2010:
            release_date_list["2010"] += 1
        elif int(merge_data['release_date'].loc[i][0:4]) <= 2020:
            release_date_list["2020"] += 1
    release_date_list

    sum = 0
    for i in release_date_list:

        sum += release_date_list[i]

    release_date_rate = []
    for i in release_date_list:
        if release_date_list[i] ==0:
            continue
        release_date_list[i] = round((release_date_list[i]/sum),3)
    return release_date_list

In [ ]:
def Estimate_Score_sum(user_df, user_release_ratio_list):
    user_df = user_df.dropna(axis=0)
    for i in range(0,len(user_df)):
        if int(user_df.iloc[i]['release_date'][0:4]) <= 1900:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1900']
        elif int(user_df.iloc[i]['release_date'][0:4]) <= 1950:
            user_df['Estimate_Score'].loc[user_df.index[i]]= user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1950']
        elif int(user_df.iloc[i]['release_date'][0:4]) <= 1960:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1960']
        elif int(user_df.iloc[i]['release_date'][0:4]) <= 1970:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1970']
        elif int(user_df.iloc[i]['release_date'][0:4]) <= 1980:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1980']
        elif int(user_df.iloc[i]['release_date'][0:4]) <= 1990:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['1990']
        elif int(user_df.iloc[i]['release_date'][0:4])  <= 2000:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['2000']
        elif int(user_df.iloc[i]['release_date'][0:4])  <= 2010:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['2010']
        elif int(user_df.iloc[i]['release_date'][0:4])  <= 2020:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_release_ratio_list['2020']
    return user_df

In [ ]:
def userRec2(data,usernumber,rating,moviedata,dropdata,reader,svd):
    df = data
    df_user = df[(df['userId'] == usernumber) & (df['rating'] == rating)]
    df_user = df_user.set_index('movieId')
    df_user = df_user.join(moviedata)['original_title']
    print(df_user)

    user_release_ratio_list = user_release_ratio(df, usernumber) # 유저의 년도 비율을 가져온다.

    user_df = moviedata.copy()
    user_df = user_df[~user_df['movieId'].isin(dropdata)]
    data1 = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
    trainset = data1.build_full_trainset()
    svd.fit(trainset)
    user_df['Estimate_Score'] = user_df['movieId'].apply(lambda x: svd.predict(usernumber, x).est)
    user_df = user_df.drop('movieId', axis = 1)
    user_df = user_df.sort_values('Estimate_Score', ascending=False)
    print(user_df.head(10))

    user_df_sum = Estimate_Score_sum(user_df, user_release_ratio_list)
    user_df_sum = user_df_sum.sort_values('Estimate_Score', ascending=False)
    print(user_df_sum.head(10))
    return user_df, user_release_ratio_list
test,test2 = userRec2(df,665,5,meta,drop_movie_list,reader,svd)

movieId
168                                       Jeffrey
317                             Fresa y chocolate
318                          Swimming with Sharks
364            Mrs. Parker and the Vicious Circle
527                                    Serial Mom
587               Snow White and the Seven Dwarfs
595                         A Great Day in Harlem
596                                  Bye Bye Love
597                                  One Fine Day
912                       The Reluctant Debutante
1073       Children of the Corn IV: The Gathering
1097                            Manon des Sources
1101                                Hustler White
1136                   La double vie de Véronique
1270                            I'm Not Rappaport
1704                                  Wild Things
1754                                   Species II
2081                    Why Do Fools Fall In Love
2087                                    Knock Off
2125                                  Simon Birch
2139                              Men Don't Leave
2141                                         Hero
2571                               The Red Violin
2640                                 Light of Day
2797    The Mating Habits of the Earthbound Human
2918                               Mister Roberts
2959                                Irma la Douce
3034                             The Bat Whispers
3301                                 Animal House
3510                             Monsieur Verdoux
3578              The Brother from Another Planet
3916                   An Officer and a Gentleman
3988                      Good Morning, Babilonia
4023                             Saving Silverman
4025                           Le goût des autres
4270                                   Speed Zone
4306                            La decima vittima
4308                                    Obsession
4896                           Le Pacte des loups
4993                            Town Without Pity
5952                              Kiss Me Goodbye
Name: original_title, dtype: object
                             original_title  ... Estimate_Score
534                    Sleepless in Seattle  ...       4.609254
11922                        License to Wed  ...       4.589300
938                            The 39 Steps  ...       4.561667
286                      Once Were Warriors  ...       4.525541
6836                        Broken Blossoms  ...       4.506149
5295                            5 Card Stud  ...       4.462088
2533                           Frankenstein  ...       4.460082
2649                The Thomas Crown Affair  ...       4.408064
37719  Confession of a Child of the Century  ...       4.402892
2648                The Thomas Crown Affair  ...       4.350246

[10 rows x 6 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                       original_title  ... Estimate_Score
11922                  License to Wed  ...       4.949300
534              Sleepless in Seattle  ...       4.848254
286                Once Were Warriors  ...       4.764541
4886                The Shipping News  ...       4.697719
11410                10 Items or Less  ...       4.696637
7727                              座頭市  ...       4.633283
10089                      Madagascar  ...       4.622506
938                      The 39 Steps  ...       4.617667
2648          The Thomas Crown Affair  ...       4.589246
18256  Je vais bien, ne t'en fais pas  ...       4.579948

[10 rows x 6 columns]

In [ ]:
df

       userId  movieId  rating
147         4       10     4.0
148         4       34     5.0
149         4      112     5.0
150         4      141     5.0
151         4      153     4.0
...       ...      ...     ...
99686     665     5479     2.0
99688     665     5502     4.0
99689     665     5679     3.0
99690     665     5952     5.0
99691     665     5991     4.0

[61805 rows x 3 columns]

In [ ]:
def userRec3(data,usernumber,rating,moviedata,dropdata,reader,algo):
    df = data
    df_user = df[(df['userId'] == usernumber) & (df['rating'] == rating)]
    df_user = df_user.set_index('movieId')
    df_user = df_user.join(moviedata)['original_title']
    print(df_user)

    user_release_ratio_list = user_release_ratio(df, usernumber) # 유저의 년도 비율을 가져온다.

    user_df = moviedata.copy()
    user_df = user_df[~user_df['movieId'].isin(dropdata)]
    data1 = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
    trainset = data1.build_full_trainset()
    algo.fit(trainset)
    user_df['Estimate_Score'] = user_df['movieId'].apply(lambda x: algo.predict(usernumber, x).est)
    user_df = user_df.drop('movieId', axis = 1)
    user_df = user_df.sort_values('Estimate_Score', ascending=False)
    print(user_df.head(10))

    user_df_sum = Estimate_Score_sum(user_df, user_release_ratio_list)
    user_df_sum = user_df_sum.sort_values('Estimate_Score', ascending=False)
    print(user_df_sum.head(10))
    return user_df, user_release_ratio_list
test,test2 = userRec2(df,665,5,meta,drop_movie_list,reader,svd)

movieId
168                                       Jeffrey
317                             Fresa y chocolate
318                          Swimming with Sharks
364            Mrs. Parker and the Vicious Circle
527                                    Serial Mom
587               Snow White and the Seven Dwarfs
595                         A Great Day in Harlem
596                                  Bye Bye Love
597                                  One Fine Day
912                       The Reluctant Debutante
1073       Children of the Corn IV: The Gathering
1097                            Manon des Sources
1101                                Hustler White
1136                   La double vie de Véronique
1270                            I'm Not Rappaport
1704                                  Wild Things
1754                                   Species II
2081                    Why Do Fools Fall In Love
2087                                    Knock Off
2125                                  Simon Birch
2139                              Men Don't Leave
2141                                         Hero
2571                               The Red Violin
2640                                 Light of Day
2797    The Mating Habits of the Earthbound Human
2918                               Mister Roberts
2959                                Irma la Douce
3034                             The Bat Whispers
3301                                 Animal House
3510                             Monsieur Verdoux
3578              The Brother from Another Planet
3916                   An Officer and a Gentleman
3988                      Good Morning, Babilonia
4023                             Saving Silverman
4025                           Le goût des autres
4270                                   Speed Zone
4306                            La decima vittima
4308                                    Obsession
4896                           Le Pacte des loups
4993                            Town Without Pity
5952                              Kiss Me Goodbye
Name: original_title, dtype: object
                 original_title  ... Estimate_Score
5295                5 Card Stud  ...       4.622241
4020   The Million Dollar Hotel  ...       4.592255
14332                    Аэлита  ...       4.559243
286          Once Were Warriors  ...       4.507239
6910        Birdman of Alcatraz  ...       4.455307
534        Sleepless in Seattle  ...       4.411367
7055    Dr. Jekyll and Mr. Hyde  ...       4.380408
11355      Flags of Our Fathers  ...       4.359946
3058               Galaxy Quest  ...       4.350996
5253                     Enough  ...       4.339997

[10 rows x 6 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                 original_title  ... Estimate_Score
4020   The Million Dollar Hotel  ...       4.831255
286          Once Were Warriors  ...       4.746239
11355      Flags of Our Fathers  ...       4.719946
5295                5 Card Stud  ...       4.708241
5253                     Enough  ...       4.699997
11152                     Crank  ...       4.654071
5284        The Bourne Identity  ...       4.653576
534        Sleepless in Seattle  ...       4.650367
9507           Muxmäuschenstill  ...       4.627008
14332                    Аэлита  ...       4.615243

[10 rows x 6 columns]

In [ ]:
def user_pop_ratio(df, usernumber):
    user_df =df[df['userId'] == usernumber]
    meta2 = pd.read_csv('../content/drive/My Drive/data/the-movies-dataset/movies_metadata.csv',low_memory=False)
    value_meta = meta2[['id','original_title', 'popularity','genres']]

    value_meta = value_meta.rename(columns={'id':'movieId'})
    value_meta.movieId = pd.to_numeric(value_meta.movieId, errors='coerce')
    value_meta.popularity = pd.to_numeric(value_meta.popularity, errors='coerce') 
    value_meta = value_meta.dropna(axis=0)
    value_meta = value_meta.reset_index()
    merge_data = pd.merge(user_df, value_meta, on='movieId', how='left')
    merge_data = merge_data.dropna(axis=0)
    merge_data = merge_data.reset_index()

    popularity_list = {'2':0,'6':0,'9':0,'13':0,'18':0,'31':0,'64':0,'185':0,'288':0, '547':0}
    for i in range(0,len(merge_data)):
        if int(merge_data['popularity'].loc[i]) <= 2:
            popularity_list["2"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 6:
            popularity_list["6"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 9:
            popularity_list["9"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 13:
            popularity_list["13"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 18:
            popularity_list["18"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 31:
            popularity_list["31"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 64:
            popularity_list["64"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 185:
            popularity_list["185"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 288:
            popularity_list["288"] += 1
        elif int(merge_data['popularity'].loc[i]) <= 547:
            popularity_list["547"] += 1
    popularity_list

    sum = 0
    for i in popularity_list:

        sum += popularity_list[i]

    #popularity_list = []
    for i in popularity_list:
        if popularity_list[i] ==0:
            continue
        popularity_list[i] = round((popularity_list[i]/sum),3)
    return popularity_list

In [ ]:
def Estimate_Score_sum2(user_df, user_pop_ratio_list):
    user_df = user_df.dropna(axis=0)
    for i in range(0,len(user_df)):
        if int(user_df.iloc[i]['popularity']) <= 2:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['2']
        elif int(user_df.iloc[i]['popularity']) <= 6:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['6']
        elif int(user_df.iloc[i]['popularity']) <= 9:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['9']
        elif int(user_df.iloc[i]['popularity']) <= 13:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['13']
        elif int(user_df.iloc[i]['popularity']) <= 18:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['18']
        elif int(user_df.iloc[i]['popularity']) <= 31:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['31']
        elif int(user_df.iloc[i]['popularity'])  <= 64:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['64']
        elif int(user_df.iloc[i]['popularity'])  <= 185:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['185']
        elif int(user_df.iloc[i]['popularity'])  <= 288:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['288']
        elif int(user_df.iloc[i]['popularity'])  <= 547:
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_pop_ratio_list['547']
    return user_df

In [ ]:
def user_language_ratio(df, usernumber):
    user_df =df[df['userId'] == usernumber]
    meta2 = pd.read_csv('../content/drive/My Drive/data/the-movies-dataset/movies_metadata.csv',low_memory=False)
    value_meta = meta2[['id','original_title', 'original_language','genres']]

    value_meta = value_meta.rename(columns={'id':'movieId'})
    value_meta.movieId = pd.to_numeric(value_meta.movieId, errors='coerce')
    # value_meta.popularity = pd.to_numeric(value_meta.popularity, errors='coerce') 
    value_meta = value_meta.dropna(axis=0)
    value_meta = value_meta.reset_index()
    merge_data = pd.merge(user_df, value_meta, on='movieId', how='left')
    merge_data = merge_data.dropna(axis=0)
    merge_data = merge_data.reset_index()

    original_language_list = {'en':0,'fr':0,'it':0,'ja':0,'de':0}
    for i in range(0,len(merge_data)):
        if merge_data['original_language'].loc[i] == 'en':
            original_language_list["en"] += 1
        elif merge_data['original_language'].loc[i] == 'fr':
            original_language_list["fr"] += 1
        elif merge_data['original_language'].loc[i] == 'it':
            original_language_list["it"] += 1
        elif merge_data['original_language'].loc[i] == 'ja':
            original_language_list["ja"] += 1
        elif merge_data['original_language'].loc[i] == 'de':
            original_language_list["de"] += 1
       
    original_language_list
    print("***wow1**")
    print(original_language_list)
    print("***wow1**")

    sum = 0
    for i in original_language_list:

        sum += original_language_list[i]

    # popularity_list = []
    for i in original_language_list:
        if original_language_list[i] ==0:
            continue
        original_language_list[i] = round((original_language_list[i]/sum),3)
    print("***wow2**")
    print(original_language_list)
    print("***wow2**")

    return original_language_list

In [ ]:
def Estimate_Score_sum3(user_df, user_language_ratio_list):
    user_df = user_df.dropna(axis=0)
    for i in range(0,len(user_df)):
        if user_df.iloc[i]['original_language'] == 'en':
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_language_ratio_list['en']
        elif user_df.iloc[i]['original_language'] == 'fr':
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_language_ratio_list['fr']
        elif user_df.iloc[i]['original_language'] == 'it':
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_language_ratio_list['it']
        elif user_df.iloc[i]['original_language'] == 'ja':
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_language_ratio_list['ja']
        elif user_df.iloc[i]['original_language'] == 'de':
            user_df['Estimate_Score'].loc[user_df.index[i]] = user_df.iloc[i]['Estimate_Score'] + user_language_ratio_list['de']
       
    return user_df

In [ ]:
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating', ]], reader)
kf = KFold(n_splits=3)
kf.split(data)

slope = SlopeOne()
cross_validate(slope, data, measures=['RMSE', 'MAE'],cv=5, verbose=False) #evaluate 대신 cross_validate

{'fit_time': (1.2666945457458496,
  1.306401014328003,
  1.2620127201080322,
  1.2635891437530518,
  1.2987513542175293),
 'test_mae': array([0.67587805, 0.67728643, 0.67564195, 0.66272236, 0.67387141]),
 'test_rmse': array([0.88296564, 0.87711025, 0.88023342, 0.86030705, 0.88023473]),
 'test_time': (4.173664569854736,
  4.1946797370910645,
  4.224207401275635,
  4.266580104827881,
  4.183549404144287)}

In [ ]:
reader = Reader()
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=3)
kf.split(data)
svd = SVD()
cross_validate(svd, data, cv = 5,  measures=['RMSE', 'MAE']) #evaluate 대신 cross_validate사용

{'fit_time': (3.130192756652832,
  3.136723041534424,
  3.1538171768188477,
  3.1499526500701904,
  3.1476070880889893),
 'test_mae': array([0.66716751, 0.67121281, 0.66873132, 0.65918521, 0.66351617]),
 'test_rmse': array([0.86841381, 0.8734712 , 0.87006273, 0.85658828, 0.86057403]),
 'test_time': (0.08469653129577637,
  0.08692526817321777,
  0.08544778823852539,
  0.08823537826538086,
  0.08668828010559082)}

In [ ]:
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=3)
kf.split(data)

option = {'name' : 'pearson'}
knn = KNNBasic(sim_options=option)
cross_validate(knn, data, cv = 5 , measures=['RMSE', 'MAE']) #evaluate 대신 cross_validate사용

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

{'fit_time': (0.0916292667388916,
  0.10385465621948242,
  0.1067054271697998,
  0.10507011413574219,
  0.10706615447998047),
 'test_mae': array([0.73899366, 0.73816978, 0.74955232, 0.73143539, 0.73921064]),
 'test_rmse': array([0.94939854, 0.94445354, 0.96253114, 0.93598404, 0.94658404]),
 'test_time': (0.7806992530822754,
  0.8803696632385254,
  0.7623260021209717,
  0.7743539810180664,
  0.7658829689025879)}

In [ ]:
reader = Reader()
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=3)
kf.split(data)
# svd = SVD()
# cross_validate(svd, data, measures=['RMSE', 'MAE']) #evaluate 대신 cross_validate사용

nmf = NMF()
cross_validate(nmf, data, measures=['RMSE', 'MAE'],cv=3, verbose=False) #evaluate 대신 cross_validate

{'fit_time': (2.781510829925537, 2.753741979598999, 2.8106203079223633),
 'test_mae': array([0.70470134, 0.70400364, 0.70190669]),
 'test_rmse': array([0.91703062, 0.91420598, 0.91320865]),
 'test_time': (0.22315239906311035, 0.12439846992492676, 0.12685441970825195)}

In [ ]:
def userRec3(data,usernumber,rating,moviedata,dropdata,reader,algo):
    df = data
    df_user = df[(df['userId'] == usernumber) & (df['rating'] == rating)]
    df_user = df_user.set_index('movieId')
    df_user = df_user.join(moviedata)['original_title']
    # print(df_user)

    user_release_ratio_list = user_release_ratio(df, usernumber) # 유저의 년도 비율을 가져온다.
    print(user_release_ratio_list)
    user_pop_ratio_list = user_pop_ratio(df, usernumber) # 유저의 popularity 비율을 가져온다.
    print(user_pop_ratio_list)
    user_language_ratio_list = user_language_ratio(df, usernumber) # 유저의 language 비율을 가져온다.
    print(user_language_ratio_list)

    user_df = moviedata.copy()
    user_df = user_df[~user_df['movieId'].isin(dropdata)]
    data1 = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
    trainset = data1.build_full_trainset()
    algo.fit(trainset)
    user_df['Estimate_Score'] = user_df['movieId'].apply(lambda x: algo.predict(usernumber, x).est)
    user_df = user_df.drop('movieId', axis = 1)
    user_df = user_df.sort_values('Estimate_Score', ascending=False)
    # print(user_df.head(10))

    user_df_sum = Estimate_Score_sum(user_df, user_release_ratio_list)
    # user_df_sum = user_df_sum.sort_values('Estimate_Score', ascending=False)
    # print(user_df_sum.head(10))

    user_df_sum = Estimate_Score_sum2(user_df_sum, user_pop_ratio_list)
    # user_df_sum = user_df_sum.sort_values('Estimate_Score', ascending=False)
    # print(user_df_sum.head(10))

    user_df_sum = Estimate_Score_sum3(user_df_sum, user_language_ratio_list)
    user_df_sum = user_df_sum.sort_values('Estimate_Score', ascending=False)
    print(user_df_sum.head(10))

    return user_df, user_df_sum
test,test2 = userRec3(df,665,5,meta,drop_movie_list,reader,knn)
test,test2 = userRec3(df,665,5,meta,drop_movie_list,reader,svd)
test,test2 = userRec3(df,665,5,meta,drop_movie_list,reader,slope)
test,test2 = userRec3(df,665,5,meta,drop_movie_list,reader,nmf)

In [ ]:
test2.head(20)

                 original_title  ... Estimate_Score
11152                     Crank  ...       6.348891
16351    The Return of the King  ...       6.114000
6910        Birdman of Alcatraz  ...       6.093258
4905          Wuthering Heights  ...       6.058006
11560           Hannibal Rising  ...       6.027443
278                        Nell  ...       6.004175
700                    Dead Man  ...       5.991708
11566             Lonely Hearts  ...       5.984882
22094          End of the World  ...       5.959950
2283        Shakespeare in Love  ...       5.934520
11410          10 Items or Less  ...       5.923380
3414          Keeping the Faith  ...       5.921058
11592               Ghost Rider  ...       5.912164
6229                The In-Laws  ...       5.911744
6141             The Good Thief  ...       5.899891
2648    The Thomas Crown Affair  ...       5.876957
11466         The Good Shepherd  ...       5.854628
3058               Galaxy Quest  ...       5.852125
2216         American History X  ...       5.832306
4020   The Million Dollar Hotel  ...       5.800483

[20 rows x 6 columns]