In [ ]:
import random
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import explained_variance_score
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
import lightgbm as lgb
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor


import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/My Drive/data/bigcorn_data/mape.csv', encoding = 'cp949')

In [ ]:
df2=df[df['상품군']=='가구'or df['상품군']=='가전']

In [ ]:
df2

In [ ]:
df[2400:]

In [ ]:
df[2400:].describe()

In [ ]:
a=df[2400:].describe()

In [ ]:
a.loc['mean'][0:20]

In [ ]:
sum(df[2400:]['판매단가']/ len(df[2400:]))

In [ ]:
grouped_over = df[2400:].groupby(df['상품군'])
grouped_all = df.groupby(df['상품군'])

In [ ]:
grouped.size()

In [ ]:
grouped_all.size()

In [ ]:
grouped_sum= pd.concat([grouped_all.size(), grouped.size()], axis=1)

In [ ]:
grouped_sum

In [ ]:
ratio=[]
for i in range( len(grouped_sum)):    
    ratio.append(grouped_sum[1][i] /grouped_sum[0][i])

In [ ]:
ratio

In [ ]:
grouped.mean()

In [ ]:
df[2400:]

In [ ]:
df[df['상품군']=='의류']

In [ ]:
n_df=df[(df['판매단가'] < 530000)]

In [ ]:
n_df.to_csv("/content/drive/My Drive/data/bigcorn_data/530000under.csv")

In [ ]:
sum(df[(df['판매단가'] > 530000)]['MAPE'])/len(df[(df['판매단가'] > 530000)])

In [ ]:
len(df[(df['판매단가'] > 530000)])

In [ ]:
sum(df[(df['판매단가'] < 530000)]['MAPE'])/len(df[(df['판매단가'] < 530000)])

In [ ]:
len(df[(df['판매단가'] < 530000)])